@page
@model IndexModel
@{
    ViewData["Title"] = "利用.NET 6.0 开发Microsoft 365应用";
}


<div>基本信息</div>

@if (Model.Me != null)
{
    <div>
        显示名称： @Model.Me.DisplayName ， 邮件地址：@Model.Me.UserPrincipalName
    </div>

}

<br />


<div>邮件信息</div>
<ol>
    @if (Model.Messages != null)
    {
        @foreach (var item in Model.Messages)
        {
            <li><b>@item</b></li>
        }
    }

</ol>
